@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif JP';
	color:#000000
}

main {
	margin:0px 20% 1.5em 20%
}

article {
	margin:0px 0px 1.5em 0px
}

h2 {
	font-family: 'Cormorant Garamond';
	font-weight: 100;
	margin: 0.5em 0em 0.5em 0em;
	padding: 0px 5% 0px 5%;
	font-weight: 500;
	font-size: 1.85em;
	margin: 0px;
	border-bottom:0.5px solid #dadada
}

h2 span {
	font-family: 'Cormorant Garamond';
	font-weight:100
}

h2 a {
	font-family: 'Cormorant Garamond';
	font-weight: 100;
	text-decoration:none
}

h3, h4, h5, h6, p, ul, ol {
	padding: 0px 5% 0px 5%;
	margin:0.7em 0em 0.7em 0em
}

p {
	letter-spacing:0.05em
}

li {
	margin:0.4em 0em 0.4em 0em
}

ul {
	list-style: none;
	flex-wrap: wrap;
	list-style-position:inside
}

ol {
	flex-wrap: wrap;
	list-style-position:inside
}

a {
	transition: all 0.05s ease-in-out;
	text-decoration-color:#b0b0b0
}

a:hover {
	background-color:#ededed
}

blockquote {
	margin: 0px 5% 0px 5%;
	border-left: 3px solid #dadada;
	border-right:3px solid #dadada
}

blockquote h3 {
	font-size: 16px;
	font-weight:600
}

blockquote h3 span {
	padding: 0px 10px 0px 10px;
	background:linear-gradient(to top, #dadada 2px, #fff 2px 100%)
}

blockquote p, blockquote ul, blockquote ol {
	padding:0px 20px 0px 20px
}

.first-character-color {
	color:rgba(255, 46, 71, 0.85)
}

.first-number-font {
	font-family: 'Cinzel'
}

.first-number-default {
	font-family: 'Cormorant Garamond'
}

.diary-this-is-hidden {
	display:none
}

.DiaryYMListCurrent {
	color:rgba(255, 46, 71, 0.85)
}

.diary-here-first > span {
	padding:0em 5% 0.5em 5%
}

.no-text-line {
	text-decoration:none
}

ul.ul-links li {
	display:inline
}

ul.ul-links a {
	text-decoration-color:#dadada
}

ul.ul-links li:not(:last-child):after {
	content: "";
	display: inline-block;
	border-right: 1px solid #b0b0b0;
	position: relative;
	height: 0.9em;
	bottom: -0.1em;
	margin: 0px 1.2em 0px 0px;
	padding:0px 0px 0px 1.55em
}

ul.ul-default li:before {
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

ul.ul-profile li h3 {
	display: inline;
	font-size: 16px;
	padding:0
}

ul.ul-profile li ol {
	list-style:none
}

ul.ul-profile li ol li:before {
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

ul.ul-profile li ol li h4 {
	display: inline;
	padding: 0;
	text-decoration-line: underline;
	text-decoration-color:#dadada
}

ul.ul-profile li img {
	width: 120px;
	height:90px
}

ul.ul-top {
	margin: 0px;
	padding:0px 5% 0px 5%
}

ul.ul-top li {
	margin:0.8em 0px 1em 0px
}

ul.ul-top h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 0.3em 0px 0.3em 0em;
	padding:0px
}

ul.ul-top h3:before {
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

ul.ul-top h3 a {
	text-decoration:none
}

ul.note-top {
	margin: 0px;
	padding:0px 5% 0px 5%
}

ul.note-top li {
	margin:1em 0px 1em 0px
}

ul.note-top h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 0.4em 0px 0.4em 0em;
	padding:0px
}

ul.note-top h3:before {
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

ul.note-top h3 a {
	text-decoration:none
}

ul.note-top p {
	margin: 0.3em 0px 0.3em 0px;
	padding:0px 0px 0px 25px
}

ul.small-block1 {
	display: flex;
	justify-content:space-between
}

ul.small-block1 h2 {
	font-weight: 200;
	font-size: 1.6em;
	padding: 0px 0px 0px 10px;
	border-bottom:0.5px solid #dadada
}

ul.small-block1 li {
	width: 150px;
	margin: 0 10px 1em 0px;
	padding: 0px;
	text-align:left
}

ul.small-block1 li ul.small-list {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	list-style:none
}

ul.small-block1 li ul.small-list li {
	margin: 3px 0px 3px 0px;
	padding:0px
}

ul.small-block1 a {
	text-decoration:none
}

ul.small-block2 {
	display: flex;
	justify-content:space-between
}

ul.small-block2 h2 {
	font-weight: 200;
	font-size: 1.6em;
	padding: 0px 0px 0px 10px;
	border-bottom:0.5px solid #dadada
}

ul.small-block2 li {
	width: 175px;
	margin: 0 10px 1em 0px;
	padding: 0px;
	text-align:left
}

ul.small-block2 li ul.small-list {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	list-style:none
}

ul.small-block2 li ul.small-list li {
	margin: 3px 0px 3px 0px;
	padding:0px
}

ul.small-block2 a {
	text-decoration-color:#dadada
}

p.article-foot {
	text-align:right
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

nav {
	align-items: left;
	margin-right:auto
}

nav ul {
	display: flex;
	padding: 0;
	margin:0
}

nav ul li {
	padding: 0;
	margin:0
}

header.top-header {
	padding: 0 15% 0 15%;
	border-bottom:1px solid #ccc
}

header.top-header h1 {
	font-size:50px
}

header.top-header ul li {
	margin-right:30px
}

header.top-header ul li a {
	font-size:25px
}

header.top-header ul li .top-current-navigation {
	color:rgba(255, 46, 71, 0.85)
}

header.top-header a {
	font-family: 'Cinzel';
	font-weight: 100;
	text-decoration:none
}

header.main-header h1 {
	padding-top: 1em;
	text-align: center;
	font-size:30px
}

header.main-header h1 span.equals {
	padding: 0 1em 0 1em;
	font-family: 'Cinzel';
	font-weight: 100;
	border-bottom:1px solid #ccc
}

header.main-header h1 span.nequals {
	padding: 0 1em 0 1em;
	font-family: 'Cormorant Garamond';
	font-weight: 100;
	border-bottom:1px solid #ccc
}

header.main-header p {
	padding: 1em 0em 1em 0em;
	text-align: center;
	font-size:20px
}

footer.main-footer {
	margin:0px 0px 1.5em 0px
}

footer.main-footer p {
	letter-spacing: 0em;
	padding-top: 1em;
	text-align:right
}

footer.bottom-footer {
	width: 100%;
	padding: 5px 15% 0 15%;
	margin: 2em 0 3em 0;
	border-top:1px solid #ccc
}

footer.bottom-footer ul {
	margin-top: 0;
	display:flex
}

footer.bottom-footer ul li {
	margin-top: 0;
	width: 35%;
	padding-right:30px
}

footer.bottom-footer ul li h2 {
	font-family: 'Cinzel';
	font-weight: 100;
	display: inline;
	padding-left: 0px;
	border:0px
}

footer.bottom-footer ul li h2 span {
	font-family: 'Cinzel';
	font-weight:100
}

footer.bottom-footer ul li a {
	font-family: 'Cinzel';
	font-weight: 100;
	text-decoration:none
}

footer.bottom-footer ul li ul.footer-left {
	font-family: 'Cinzel';
	font-weight: 100;
	display: flex;
	margin: 0;
	padding:0
}

footer.bottom-footer ul li ul.footer-left li {
	width: auto;
	padding-right:10px
}

footer.bottom-footer ul li ul.footer-right {
	margin: 0px;
	margin:10px
}

footer.bottom-footer ul li ul.footer-right li {
	display: inline;
	padding: 20px;
	width: auto;
	transition:background-color 0.05s ease-in-out
}

footer.bottom-footer ul li ul.footer-right li:hover {
	background-color:#ededed
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

.top-bodies {
	animation-name: first-loading-animation;
	animation-duration: 3.2s;
	animation-fill-mode:forwards
}

@keyframes first-loading-animation {
	0% {
			opacity:0
	}

	80% {
			opacity:0
	}

	95% {
			opacity:0.5
	}

	100% {
			opacity:1
	}
}

p.first-loading-text {
	color: #dadada;
	position: relative;
	width: 100%;
	height: 70px;
	margin-top: 200px;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	font-family: 'Cinzel';
	font-weight: 100;
	font-size:60px
}

p.first-loading-text:after {
	content: "Tomoki Yuji";
	position: absolute;
	color: #000000;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 60px;
	font-family: 'Cinzel';
	font-weight: 100;
	animation-name: first-loading-text-animation;
	animation-duration: 2.5s;
	animation-fill-mode:forwards
}

@keyframes first-loading-text-animation {
	0% {
			clip:rect(0, 1000px, 0, 0)
	}

	5% {
			clip:rect(0, 1000px, 0, 0)
	}

	75% {
			clip:rect(0, 1000px, 70px, 0)
	}

	100% {
			clip:rect(0, 1000px, 70px, 0)
	}
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

@font-face {
	font-family: 'Cinzel';
	src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype")
}

@font-face {
	font-family: 'Noto Serif JP';
	src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype")
}

article.definition-env-article {
	margin: 0px 5% 0px 5%;
	border-left: 3px solid #dadada;
	border-right:3px solid #dadada
}

article.definition-env-article h3.definition-env-h3 {
	display: inline;
	font-size: 16px;
	font-weight:600
}

article.definition-env-article h3.definition-env-h3 span {
	padding: 0px 10px 0px 10px;
	background:linear-gradient(to top, #dadada 2px, #fff 2px 100%)
}

article.definition-env-article ul li {
	margin:0.8em 0px 1em 0px
}

article.definition-env-article ul li:before {
	display: inline;
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

article.definition-env-article ul li p {
	display: inline;
	text-indent: 0em;
	padding:0
}

article.definition-env-article ol li {
	margin:0.8em 0px 1em 0px
}

article.definition-env-article ol li:before {
	display:inline
}

article.definition-env-article ol li p {
	display:inline
}

article.proof-env-article:after {
	display: block;
	text-align: right;
	content: '◻︎';
	margin:0 5% 0 0
}

article.proof-env-article h3.proof-env-h3 {
	display: inline;
	font-size: 16px;
	font-weight:600
}

article.proof-env-article h3.proof-env-h3 span {
	padding: 0px 10px 0px 10px;
	background:linear-gradient(to top, #dadada 2px, #fff 2px 100%)
}

article.proof-env-article ul li {
	margin:0.8em 0px 1em 0px
}

article.proof-env-article ul li:before {
	display: inline;
	content: '•';
	color: #b0b0b0;
	padding:0px 10px 0px 0px
}

article.proof-env-article ul li p {
	display: inline;
	text-indent: 0em;
	padding:0
}

article.proof-env-article ol li {
	margin:0.8em 0px 1em 0px
}

article.proof-env-article ol li:before {
	display:inline
}

article.proof-env-article ol li p {
	display:inline
}

h2.section-name-h2 {
	font-family: 'Noto Serif JP'
}

h2.section-name-h2 span {
	font-family: 'Noto Serif JP'
}

.bibliography-h3 {
	padding: 0em 1em 0em 0em;
	display: inline;
	font-size:16px
}

.bibliography-h3 span {
	padding: 0px 10px 0px 10px;
	background: linear-gradient(to top, #dadada 2px, #fff 2px 100%)
}

